<mat-toolbar color="primary">
  <span>Invoice Management</span>
  <span class="spacer"></span>
  <!--  add other elements here, like navigation links or icons -->
  <mat-button-toggle-group [value]="currentRoute" hideSingleSelectionIndicator="true">
    <mat-button-toggle value="/invoice" [routerLink]="'/invoice'">Invoices</mat-button-toggle>
    <mat-button-toggle value="/payment" [routerLink]="'/payment'">Payments</mat-button-toggle>
    <mat-button-toggle value="/receipt" [routerLink]="'/receipt'">Receipts</mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-icon-button aria-label="User Account">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
<div class="content-container">
  <router-outlet></router-outlet>
</div>